html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

ul {
	list-style: none;
}
a {
	text-decoration: none;
	color: inherit;
}

html,
body {
	height: 100%;
}

body {
	font-family: "Inter", sans-serif; /*font-family: var(--font-family);*/
	font-size: 16px;
	font-weight: 400;
	line-height: 130%;
}

.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.container {
	margin: 0 auto;
	max-width: 1220px;
	padding: 0 10px;
}

.section-title {
	margin-bottom: 50px;
	font-family: "Inter", sans-serif; /*font-family: var(--font-family);*/
	text-align: center;
	font-weight: 700;
	font-size: 48px;
	color: #151515; /*var(--black);*/
}

.main {
	flex-grow: 1;
}
.header {
	background-color: #151515; /*var(--black);*/
}

.header-main {
	background-color: transparent;
	position: absolute;
	z-index: 10;
	left: 0;
	right: 0;
}

.header__inner {
	padding-top: 40px;
	padding-bottom: 45px;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.menu__list {
	display: flex;
	justify-content: space-between;
	gap: 35px;
}

.menu__list-link {
	color: #fff;
	font-family: "Inter", sans-serif;
	text-transform: uppercase;
	font-weight: 700;
}

.footer {
	background-color: #151515; /*var(--black);*/
	color: #fff;
	padding: 50px 0 32px;
}
.footer__menu {
	margin-bottom: 50px;
	display: flex;
	justify-content: space-around;
}
.footer__menu-list {
	/* overflow: hidden; */
	/* word-wrap: break-word; */
	max-width: 250px;
}

.footer__menu-item + .footer__menu-item {
	padding-top: 20px;
}

.footer__menu-title {
	font-weight: 700;
	font-size: 24px;
	padding-bottom: 20px;
}

.apps {
	display: flex;
	justify-content: center;
	gap: 40px;
	margin-bottom: 50px;
}

.footer__copy {
	margin: 0 auto;
	text-align: center;
	text-align: justify;
	max-width: 800px;
	font-size: 12px;
	margin-bottom: 30px;
}

.copy__nav-list {
	display: flex;
	justify-content: center;
	gap: 40px;
}

.top {
	color: #fff;
	text-align: center;
	padding-top: 250px;
	margin-bottom: 50px;
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
}

.title {
	margin-bottom: 40px;
	font-size: 96px;
	font-weight: 700;
	line-height: 1;
}
.top__btn {
	background-color: #151515;
	max-width: 430px;
	width: 100%;
	font-weight: 700;
	font-size: 36px;
	padding: 23px;
	display: inline-block;
	text-transform: uppercase;
	border-radius: 10px;
}

.swiper::after {
	content: "";
	background: rgba(21, 21, 21, 0.4);
	position: absolute;
	z-index: 5;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.swiper-slide {
	height: 100vh;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.swiper-pagination-bullet {
	width: 120px;
	height: 3px;
	background-color: #151515;
	border-radius: 0;
	opacity: 1;
}

.swiper-pagination-bullet-active {
	height: 6px;
	background-color: #fff;
}
.swiper-pagination-bullet-active-next {
}

.swiper-pagination-horizontal.swiper-pagination-bullets
	.swiper-pagination-bullet {
	margin: 0 15px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic.swiper-pagination-bullet {
	transition: 0.4s transform, 0.4s left;
}

.swiper-pagination-bullets-dynamic .swiper-pagination-bullet-active-next-next {
	transform: scale(0.53);
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
	bottom: 18px;
}

.why-lease {
	padding: 150px 0;
}
.why-lease__title {
	text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.why-lease__list {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 40px;
	text-align: center;
}

.why-lease__item {
}
.why-lease__item-img {
	margin-bottom: 20px;
}
.why-lease__item-title {
	margin-bottom: 30px;
	font-weight: 700;
	font-size: 24px;
	max-height: 20px;
}
.why-lease__item-text {
	text-align: left;
}
.how-work__title {
	line-height: 1;
}

.how-work__inner {
	max-width: 600px;
	margin: 0 auto;
}

.how-work__text {
	padding-bottom: 50px;
}
.how-work__subtitle {
	line-height: 1;
	font-size: 24px;
}
.how-work__list {
	padding-bottom: 70px;
}
.how-work__list-item {
}
